<tr>
  <td>
    <h1 class="aligncenter">
      <a href="<%= process.env.FRONTEND_URL %>" target="_blank">
        <img width="150" src="<%= process.env.FRONTEND_URL + "/images/glife.png"  %>" alt="<%= process.env.APP_NAME %>" />
      </a>
    </h1>
  </td>
</tr>